.header-container {
  min-height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;

  .logo-container {
    flex: 2 20%;
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      text-decoration: none;
      color: var(--primary-color);
      text-align: center;

      img {
        width: 8.125rem;
        filter: var(--logo-shadow);
        z-index: 1;
      }

      h3 {
        position: relative;
        margin-top: 0.25rem;
        font-weight: 900;
        font-size: 1.8rem;
        z-index: 2;

        .logo-accent {
          color: $color-main;
        }
      }
    }
  }

  .media-type-links {
    flex: 4 40%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    button {
      font-family: inherit;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: 700;
      padding: 0 1rem;
      background: none;
      border: none;
      color: var(--primary-color);
      cursor: pointer;

      &.active {
        color: var(--accent-color);
      }
    }
  }

  .title-container {
    flex: 4 40%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;

    .title-heading {
      display: block;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .search-box-container {
    flex: 3 30%;
    display: flex;
    justify-content: center;
    position: relative;

    .search-box-form {
      position: relative;
      margin-left: -3rem;

      &.show-hints {
        z-index: 6;
      }

      .search-button {
        background: none;
        border: none;
        position: absolute;
        top: 1.3rem;
        left: 1.1rem;
        transform: translateY(-50%);
        cursor: pointer;
      }

      .search-box-input {
        display: block;
        margin: 0 auto;
        height: 2.5rem;
        border-radius: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 2.8rem;
        border: none;
        background-color: var(--search-box-bg);
        color: var(--primary-color);
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 1rem;

        &::placeholder {
          color: var(--primary-color);
          font-family: 'Montserrat';
          font-weight: 700;
          font-size: 1rem;
        }
      }
    }

    .search-box-hints-list {
      width: 24rem;
      position: absolute;
      top: 3.5rem;
      margin-left: -3rem;
      z-index: 5;

      .search-hint-container {
        width: 100%;
        height: 8rem;
        background: var(--bg-gradient);
        margin: 0.5rem 0;
        border-radius: 1.5rem;
        display: flex;
        filter: var(--container-shadow);
        padding: 0.5rem 1rem;
        cursor: pointer;

        .search-hint-image {
          height: 100%;
          width: 75px;
          position: relative;

          .img-loading-container {
            position: absolute;
            border-radius: 0.75rem;
            z-index: -1;
            width: 75px;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--bg-gradient);
            background-size: 200% 100%;
            background-position-x: 180%;
            animation: 1s loading ease-in-out infinite;
          }

          img {
            height: 100%;
            border-radius: 0.75rem;
            object-fit: cover;
          }
        }

        .search-hint-data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 1rem;
          height: 100%;
          line-height: 1.25rem;

          .search-hint-data-title {
            color: var(--primary-color);
          }

          .search-hint-data-year {
            color: var(--accent-color);
            font-size: 0.75rem;
          }

          .search-hint-data-rate {
            color: var(--primary-color);
            font-weight: 700;
          }

          .search-hint-data-media-type {
            font-size: 0.75rem;
            color: var(--accent-color);
          }
        }
      }
    }

    .search-hints-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
      pointer-events: none;
    }
  }
  .header-icons-container {
    flex: 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      cursor: pointer;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .profile-pic-container {
      width: 1.75rem;
      height: 1.75rem;
      border: 2px solid var(--primary-color);
      border-radius: 50%;
      overflow: hidden;
      margin-top: -0.2rem;

      img.profile-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .theme-icons-container {
      position: relative;

      svg {
        position: absolute;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .header-container {
    flex-wrap: wrap;
    padding: 1rem 0.5rem;

    .logo-container {
      order: 1;
      flex: 3;
      align-items: flex-start;
      min-width: 50%;

      a {
        img {
          width: 5rem;
        }

        h3 {
          margin-top: 0.1rem;
          font-size: 1.25rem;
        }
      }
    }

    .header-icons-container {
      order: 2;
      flex: 7;
      min-width: 50%;
    }

    .media-type-links {
      order: 3;
      flex: 10 100%;
      min-width: 100%;
      margin-top: 1.5rem;

      button {
        font-size: 1.25rem;
        padding: 0 0.5rem;
        color: var(--primary-color);

        &.active {
          color: var(--accent-color);
        }
      }
    }

    .title-container {
      order: 5;
      flex: 10 100%;
      padding: 0;
      margin-top: 1.5rem;
      min-height: 3.125rem;

      .title-heading {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    .search-box-container {
      order: 4;
      min-width: 100%;
      margin-top: 1.5rem;
      margin-left: unset;

      .search-box-form {
        width: 100%;
        margin-left: 0;

        .search-box-input {
          width: 100%;
        }
      }

      .search-box-hints-list {
        margin-left: unset;
        width: 100%;
        top: 3rem;
      }
    }
  }
}
