.similar-movies-list-wrapper {
  margin-top: 3rem;
  overflow: hidden;
  mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    #ffffff 20%,
    #ffffff 80%,
    #ffffff 50%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    #ffffff 20%,
    #ffffff 50%,
    #ffffff 80%,
    rgba(0, 0, 0, 0) 100%
  );

  h2 {
    text-align: center;
  }
}

.movies-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  column-gap: 2.375rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.similar {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 2rem;
    padding: 2rem;
  }

  .movie-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-width: 12.5rem;
    min-height: 23rem;
    cursor: pointer;

    .remove-item-button {
      position: absolute;
      left: 0.75rem;
      top: 0.75rem;
      background: none;
      border: none;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px #262626);
      // mix-blend-mode: difference;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    a {
      display: block;
      width: 100%;
      color: var(--primary-color);
      text-decoration: none;

      .movie-poster-container {
        width: 100%;
        filter: var(--container-shadow);
        overflow: hidden;
        position: relative;

        .img-loading-container {
          position: absolute;
          z-index: -1;
          width: 100%;
          top: 0;
          left: 0;
          min-height: 18.75rem;
          border-radius: 1.5rem;
          background: var(--bg-gradient);
          background-size: 200% 100%;
          background-position-x: 180%;
          animation: 1s loading ease-in-out infinite;
        }

        img {
          width: 100%;
          height: 100%;
          min-height: 18.75rem;
          border-radius: 1.5rem;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 1.5rem;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(250, 250, 250, 1) 0%,
            rgba(38, 38, 38, 0) 100%
          );
          opacity: 0.3;
        }
      }

      .movie-title-container {
        width: 100%;
        h3 {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1rem;
          line-height: 1.25rem;
          padding: 0.25rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .movies-list-container {
    gap: 1rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 10rem);

    .movie-container {
      min-width: 10rem;
      min-height: 100%;

      a {
        .movie-poster-container {
          img {
            border-radius: 1rem;
            min-height: 100%;
          }

          &::after {
            border-radius: 1rem;
          }
        }

        .img-loading-container {
          height: 100%;
          border-radius: 1rem;
        }

        .movie-title-container {
          h3 {
            text-align: center;
            font-size: 1rem;
            line-height: 1rem;
            padding: 0.2rem 0;
          }
        }
      }
    }
  }
}
