.user-lists-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width:100%;
 padding-bottom: 5rem;

 .user-lists-header {
   height: 6rem;
   display: flex;
   align-items: center;
   justify-content: center;
 
   svg {
    margin-right: 0.75rem;
   }
  }
 
  .user-lists {
   width: 100%;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
 
   .user-list-container {
    max-width: 100%;
    height: 3.125rem;
    overflow: hidden;
    position: relative;
    padding: 0.75rem 0;
 
    .user-list-title {
     mask-image: linear-gradient(90deg, #ffffff 60%, rgba(0, 0, 0, 0) 85%);
     -webkit-mask-image: linear-gradient(90deg,
       #ffffff 60%,
       rgba(0, 0, 0, 0) 85%);
 
     h3 {
      white-space: nowrap;
      cursor: pointer;
     }
    }
 
    .user-list-icons-container {
     position: absolute;
     top: 55%;
     right: 0;
     transform: translateY(-50%);
     display: flex;
 
     button {
      margin: 0 0.15rem;
      cursor: pointer;
      border: none;
      background: none;
     }
 
     .delete-list-icon {
      margin-top: -0.1rem;
     }
    }
 
    &.active {
     color: var(--accent-color);
    }
   }
 
   .user-list-edit-container {
    max-width: 100%;
    height: 3.125rem;
    overflow: hidden;
    position: relative;
    padding: 0.75rem 0;
 
    .edit-title-input {
     form {
      input {
       width: 80%;
       height: 100%;
       background: none;
       border: none;
       color: var(--primary-color);
       font-size: 1.5rem;
       font-weight: 700;
       font-family: inherit;
       border-bottom: 2px solid var(--primary-color);
 
       &:focus {
        outline: none;
       }
      }
     }
    }
 
    .user-list-edit-icons-container {
     position: absolute;
     top: 55%;
     right: 0;
     transform: translateY(-50%);
     display: flex;
 
     button {
      margin: 0 0.20rem;
      cursor: pointer;
      border: none;
      background: none;
     }
    }
 
    &.active {
     color: var(--accent-color);
 
     .user-list-edit-icons-container {
      svg path {
       fill: var(--accent-color);
      }
     }
    }
   }
  }
 
  .new-list-input-container {
   width: 100%;
   height: 3.125rem;
   overflow: hidden;
   position: relative;
 
   input {
    width: 100%;
    height: 3.125rem;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: inherit;
    border-bottom: 2px solid var(--primary-color);
 
    &:focus {
     outline: none;
    }
   }
 
   button {
    background: none;
    border: none;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
   }
  }
 
  .add-user-list-button {
   margin-top: 2rem;
 
   button {
    background: none;
    border: none;
    cursor: pointer;
 
    svg {
     width: 1.75rem;
     height: 1.75rem;
    }
   }
  }
}




@media only screen and (max-width: 768px){
 .user-lists-container {

 .user-lists-header {
   height: 4rem;
 
   svg {
    margin-right: 0.75rem;
   }
  }

      .user-lists {
       margin-top: 1rem;
   
       .user-list-container {
        height: 2.75rem;

        .user-list-title {
         
          h3 {
           font-size: 1.25rem;
          }
        }

        &.active {
         color: var(--accent-color);
        }
       }
   
       .user-list-edit-container {
        height: 2.75rem;
    
        .edit-title-input {
         form {
          input {
           width: 80%;
           height: 100%;
           background: none;
           border: none;
           color: var(--primary-color);
           font-size: 1.25rem;
           font-weight: 700;
           font-family: inherit;
           border-bottom: 2px solid var(--primary-color);
   
           &:focus {
            outline: none;
           }
          }
         }
        }
       }
      }

     .new-list-input-container {
      input {
       width: 85%;
       height: 2.75rem;
       font-size: 1.25rem;
      }

      button {
       background: none;
       border: none;
       position: absolute;
       right: 3%;
       top: 50%;
       transform: translateY(-50%);
       cursor: pointer;
      }
     }

      .add-user-list-button {
       margin-top: 1rem;
       margin-bottom: 2rem;

       button {
        background: none;
        border: none;
        cursor: pointer;

        svg {
         width: 1.75rem;
         height: 1.75rem;
        }
       }
      }
 }
}