@import "./variables";
@import "./fonts";

@import "./header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  background: var(--bg-gradient);
  transition: color 0.3s ease, background 0.2s ease;
}

h1 {
  font-family: Palatino-bold;
  font-size: 3.75rem;
  font-weight: normal;
  line-height: 4rem;
}

h2 {
  font-family: Palatino-regular;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.85rem;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  .bg-noise-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("./assets/images/gray_noise.png");
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.4;
  }
}

header,
section {
  max-width: 75rem;
  margin: 0 auto;
}

.section-home {
  .lists-container {
    width: 100%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      gap: 1.25rem;

      li {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 900;
        color: var(--primary-color);

        &.active {
          color: var(--accent-color);
        }
      }
    }
  }

  .genres-list-container {
    width: 100%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    mask-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      #ffffff 39.58%,
      #ffffff 50.52%,
      #ffffff 62.5%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      #ffffff 39.58%,
      #ffffff 50.52%,
      #ffffff 62.5%,
      rgba(0, 0, 0, 0) 100%
    );
    ul {
      list-style: none;
      display: flex;
      gap: 0.75rem;

      li {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 900;
        color: var(--primary-color);
        white-space: nowrap;

        &.active {
          color: var(--accent-color);
        }
      }
    }
  }
}
